.footer {
  width: 100%;
  background-image: url('../../img/bg_img/bg_floot.jpg');
  background-size: cover;
  background-position: center;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 27px 0;
  flex-wrap: wrap;
}
.footer__logo {
 font: 400 26px/26px 'Lora', sans-serif;
  text-decoration: none;
  color: #ffffff;
  padding: 3px 0 5px 10px;
} 
.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}  
.footer__link {
  font: 400 11px/26px 'Oxygen', sans-serif;
  color: rgba(255, 255, 255, 0.6);  
  text-transform: uppercase;  
  text-decoration: none;
  padding: 3px 10px;
  letter-spacing: 1px;
  text-align: right;
}
  