/*
.post__title {
  text-align: center;
  padding: 60px 0 33px 0;   
  font: 400 20px/27px 'Oxygen', sans-serif;
  letter-spacing: 2px;

  text-decoration: underline;
  text-decoration-color: #DEDEDE;
  text-underline-offset: 16px;
  text-decoration-thickness: 1px;
/* «Нулевая» позиция установлена по нижней границе блока */
  /*text-underline-position: under;
} 
*/
.article__link_Adventure {
  position: absolute;  
  top: 20px;
  left: 20px;
  background: hsl(22, 70%, 56%);
  font: 400 13px 'Oxygen', sans-serif;
  color: #ffffff;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0em;
  text-align: left;
  padding: 6px 9px 7px 9px;
}
.posts__title {
  font: 400 20px/27px 'Oxygen', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  padding: 60px 0 33px 0;
  &::after {
    content: '';
    position: absolute;
    width: 188px;
    bottom: 0;
    height: 1px;
    left: 40%;
    background: #DEDEDE;
    margin: 0 0 16px 0;
  }
}  
.posts-block {
  width: 100%;
  margin: 0;
  padding: 0;
}

/**********************
* Featured Posts      *
***********************/
.posts__content {
  width: 100%;
  gap: 24px; 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.posts__content_small {
  width: 100%;
  gap: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}
.post {
  display: flex;
  position: relative;
  flex: 48%;
  min-height: 280px;
}
.post_small {
  max-width: 31%;
  flex-direction: column;  
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.post__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;  
  top: 0;
  left: 0 ;
}
.post__img_small {
  max-height: 150px;  
  position: relative;  
  width: 100%;
  border-bottom: 1px solid #EFEFEF;
}
.post__content {
  justify-content: end;
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 50px 20px 15px 20px;
  width: 100%;
}
.post__content_small {
  display: block;
  width: auto;
  min-height: 73px;
  padding-top: 14px;
  padding-left:  13px;
  background-color: #ffffff;
}
/* post__content*/
.post__title {
  text-align: left;
  padding-top: 14px;  
  font: 400 27px/30px 'Lora', sans-serif;
  color: #ffffff;
}
.post__title_small {
  color: #101315;
  font: 400 16px/21px 'Lora', sans-serif;
  text-align: left;
  padding-top: 0;  
}
.post__subtitle {
  padding-top: 6px;  
  font: 400 14px/25px 'Oxygen', sans-serif;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.post__subtitle_small {
  font: 400 13px/19px 'Oxygen', sans-serif;
  text-align: left;
  color: #7A7A7A;
  padding-top: 6px; 
}
.post__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post__description_small {
  border-top: 1px solid #EFEFEF;
  height: 48px;
  background-color: #FCFCFC;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  padding: 0 13px;
}
/* author info */
.post__author {
  display: flex;
}
.post__author_small {
  display: flex;
}
.author__img {
  width: 26px;
  height: 26px;
  padding: 12px 10px 10px 0;
}
.author__name {
  font: 400 12px/35px 'Oxygen', sans-serif;
  text-align: left;
  padding: 7px 0 6px 0;
  color: rgba(255, 255, 255, 0.7);
}
.font_white {
  color: rgba(255, 255, 255, 0.7);
}
.font_black {
  color: #999999;
}
.post__date {
  font: 400 12px/35px 'Oxygen', sans-serif;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
