* {
  margin: 0;
  padding: 0;
}
.header-top__menu,
.footer__menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
/*************************************************************
*****************   Featured Posts  **************************
**************************************************************/
/*main container*/
.main {
  width: 100%;
  background:#F7F7F7;
}

/*main__post-subject*/
.main__post-subject {
  text-align: center;
}
.main__post-title {
  font: 400 20px/27px 'Oxygen', sans-serif;
  color: #2e2e2e;
  letter-spacing: 2px;
  text-align: center; 

  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #DEDEDE;
  padding: 60px 10px 32px 10px;   
  text-underline-offset: 16px;
  /* «Нулевая» позиция установлена по нижней границе блока */
  text-underline-position: under;
}

/*main__post-articles*/
.main__post-articles {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 7px 10px;
}
.main__article-content {
  width: 460px;
  padding-left: 20px;
  position: relative;
}
.main__link_Adventure {
  position: absolute;  
  top: 26px;
  left: 29px;
  background: #DD783F;
  font: 400 13px 'Oxygen', sans-serif;
  color: #ffffff;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0em;
  text-align: left;
  padding: 6px 9px 7px 9px;
}
.main__article-title {
  padding-top: 157px;
  font: 400 27px/30px 'Lora', sans-serif;
  text-align: left;
  color: white;
  letter-spacing: 0em;
}
.main__article-disc {
  letter-spacing: 0em;
  font: 400 14px/25px 'Oxygen', sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 6px;
}
/*информация про автора и дату статьи*/
.main__article-author {
  padding: 12px 20px 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.author_info {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.author_img {
  width: 26px;
  padding: 5px 10px 4px 0;
}
.author_name {
  font: 400 12px/35px 'Oxygen', sans-serif;
  letter-spacing: 0em;
  text-align: left;
}
.author_date {
  font: 400 12px/35px 'Oxygen', sans-serif;
  letter-spacing: 0em;
  text-align: right;  
}
.author_info {
  display: flex;
  justify-content: start;
}

.font_white {
  color: rgba(255, 255, 255, 0.7);
}
.font_black {
  color: #999999;
}

.main__article-last-author {
  background-color: #FCFCFC;
  padding: 12px 20px 15px 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.item-post_img {
  width: 460px;
  position: absolute  ;
}

.main__container_last-articles {
  width: 100%;
  gap: 24px; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 89px;
  gap: 24px;
}
.main__container_last-article {
  width: 296px;
  padding-top: 6px;
}
.main__last-article-img {
  width: 100%;
  height: 150px;
}
.main__container_last-title {
  width: 100%;
  height: 93px;  
}
.main__last-article-title {
  padding: 14px 0 0 13px;
  font-family: Lora;
  font: 400 16px/21px 'Lora', sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: #101315;
}
.main__last-article-info {
  width: 100%;
  border-bottom: 1px solid #EFEFEF; 
}
.main__last-article-disc {
  width: 100%;
  padding: 6px 0 33px 13px;
  font: 400 13px/19px 'Oxygen', sans-serif;
  font-family: Oxygen;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #7A7A7A;
  border-bottom: 1px solid #EFEFEF;
}
.main__last-article-author {
  width: 100%;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}
.last_author_info {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;  
}
.last_author_img {
  width: 26px;
  padding: 12px 10px 10px 13px;
}
.last_author_name {
  font: 400 12px/35px 'Oxygen', sans-serif;
  letter-spacing: 0em;
  text-align: left;
  padding: 7px 0 6px 0;
}
.last_author_date {
  font: 400 12px/35px 'Oxygen', sans-serif;
  letter-spacing: 0em;
  text-align: right;  
  padding: 7px 13px 6px 0;
}