* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  max-width: 1440px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
} 

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 0;
}

.header__text {
  font: 400 26px 'Lora', sans-serif;
  text-decoration: none;
  color:#2E2E2E;
  padding: 3px 0 11px 0;
}

.footer__text {
  font: 400 26px 'Lora', sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  padding: 3px 20px 11px 5px;
}

.header__menu,
.footer__menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.link_white {
  color: rgba(255, 255, 255, 0.6);    
}

.link_black {
  color: #2E2E2E;   
}

.header__link,
.footer__link {
  font: 400 12px 'Oxygen', sans-serif;
  text-transform: uppercase;  
  text-decoration: none;
  padding: 10px;
}

.footer {
  width: 100%;
  background-image: url('../img/bg_floot.jpg');
  background-size: cover;
}

.main__title_container {
  padding: 89px 0 38px 0;
  text-align: center;
}

.main__title {
  font: 400 50px 'Lora', sans-serif;
  color: #2E2E2E;    
  padding-bottom: 20px;    
}

.main__title_descrition {
  font: 400 17px 'Oxygen', sans-serif;
  color:rgba(46, 46, 46, 0.63);      
}

.main__image {
  width: 100%;   
}
.main__content_bg {
  width: 100%;
  background-color: #F7F7F7;
}
.main__content {
  padding: 140px 0 135px 0;
}
.main__text_content {
  font: 400 24px 'Oxygen', sans-serif;
  color: rgb(16, 19, 21); 
  margin-bottom: 30px;
}