* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  max-width: 1440px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  padding: 17px 0;
} 

.header_text {
  font: 400 26px 'Lora', sans-serif;
  text-decoration: none;
  color:#2E2E2E;
  padding: 3px 0 11px 0;
}

.header_menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.header_link {
  font: 400 12px 'Oxygen', sans-serif;
  text-transform: uppercase;  
  text-decoration: none;
  color: #2E2E2E;
  padding: 10px;
}

.main_title_container {
  padding: 89px 0 38px 0;
  text-align: center;
}

.main_title {
  font: 400 50px 'Lora', sans-serif;
  color: #2E2E2E;    
  padding-bottom: 20px;    
}

.main_title_descrition {
  font: 400 17px 'Oxygen', sans-serif;
  color:rgba(46, 46, 46, 0.63);      
}

.main_image {
  width: 100%;   
}
.main_content_bg {
  width: 100%;
  background-color: #F7F7F7;
}
.main_content {
  padding: 140px 0 135px 0;
}
.main_text_content {
  font: 400 24px 'Oxygen', sans-serif;
  color: rgb(16, 19, 21); 
  margin-bottom: 30px;
}

.footer {
  width: 100%;
  background-color: black;
  background-image: url('/img/bg_floot.jpg');


}
.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_text {
  font: 26px 'Lora', sans-serif;
  color: #FFFFFF;
  padding: 3px 20px 11px 5px;
}

.footer_link {
  color: rgba(255, 255, 255, 0.6);    
  font: 11px 'Oxygen', sans-serif; 
}